@import "../../styles/theme";

/* Sidebar content */
/* ---------------------------------------------------------------------- */

#wrapper {
    background: $primary-dark;
    color: $grey-light;
    height: 100%;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;

    .nav-list-item {

        // The router-link tag since its an <a> by default
        a {
            color: inherit;
            display: block;
            padding: $spacer;
            text-decoration: none;
            outline: none;            // For Firefox
        }

        .active-page {
            border-right: 6px solid $secondary;
            margin-left: $spacer;
            color: $secondary;
        }

        &:hover {
            color: $secondary-light;
        }
    }
}
