# Declare the stages
stages:
  - lint
  - build

# Cache node modules in between jobs
cache:
  paths:
    - .npm/

services:
  - registry-gitlab.pasteur.fr/dsi-tools/docker-images/docker:dind

variables:
  DOCKER_HOST: tcp://localhost:2375/

# Lint the code but only return a warning
lint:
  stage: lint
  image: node:12.19
  allow_failure: true
  before_script:
    - npm ci --cache .npm --prefer-offline
  script:
    - npm run lint

# Build the docker image and store it the gitlab registery
build:
  stage: build
  image: registry-gitlab.pasteur.fr/dsi-tools/docker-images/docker:latest
  script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
    - docker build -t "$CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME/polls:${CI_COMMIT_SHORT_SHA}" .
    - docker tag "$CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME/polls:${CI_COMMIT_SHORT_SHA}" "$CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME/polls:latest"
    - docker push "$CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME/polls:${CI_COMMIT_SHORT_SHA}"
  tags:
    - k8s
