@import "../../styles/theme";
@import "../../styles/link";

.wrapper {
    height: 100%;
}

.primate-evolution-card {
    height: 100%;

    .header-card {
        display: flex;
        align-items: center;

        .header-card-doc {
            margin-left: auto;
        }

        .header-card-doc-link {
            @extend %link;
            padding: 0;
        }
    }
}
