<div id="wrapper">
  <div class="content">
    <a id="logo" href="https://www.pasteur.fr/en" target="_blank" title="Go to the Pasteur institute website">
      <img src="../../images/logo-pasteur.png" alt="Logo of the Pasteur institute">
    </a>
    <a class="link" href="https://github.com/GHFC/genevo" target="_blank" title="See the source code of the website on GitHub">GitHub</a>
    <span class="separator">&#124;</span>
    <a class="link" href="https://github.com/GHFC/genevo/wiki/License" target="_blank" title="See the license of the website">License</a>
    <span class="separator">&#124;</span>
    <a class="link" href="https://www.pasteur.fr/fr/mentions-legales" target="_blank" title="See the legal notice">Legal notice</a>
  </div>
</div>
