<div id="wrapper">
  <img class="logo" :class="{ moving: loading }" src="../../images/logo-genevo.png" alt="Logo">

  <h1 class="app-title" :title="description">
    {{ title }}
  </h1>

  <div class="app-subtitle">{{ subtitle }}</div>

  <div class="links">
    <a @click="startIntro" role="button" title="Start a quick presentation of the page">
      <i class="el-icon-info"></i>
      Tutorial
    </a>
    <a href="https://github.com/GHFC/genevo/wiki" target="_blank" title="Go to the documentation"
      v-intro="'For more information about the website and the charts, go to the documentation.'" v-intro-step="8" v-intro-tooltip-class="'intro-tooltip'">
      <i class="el-icon-question"></i>
      Documentation
    </a>
    <a href="mailto:guillaume.dumas@ppsp.team,simon.malesys@pasteur.fr?cc=thomas.bourgeron@pasteur.fr" title="Send an email to the authors">
      <i class="el-icon-message"></i>
      Contact
    </a>
  </div>
</div>
