@import "../../styles/theme";
@import "../../styles/link";

@keyframes rotation {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

#wrapper {
    height: 100%;
    background: $primary;
    color: $grey-light;
    display: flex;
    align-items: center;
}

.logo {
    box-sizing: border-box;
    height: 52px;
    margin-left: $spacer;
    width: 52px;
}

.logo.moving {
    animation: rotation 0.8s infinite ease-in-out;
}

.app-title {
    box-sizing: border-box;
    font-family: $title-font;
    font-size: 32px;
    font-weight: 400;
    margin: 0;
    margin-left: $spacer;
}

.app-subtitle {
    color: $grey;
    font-size: 16px;
    font-style: italic;
    height: 24px;
    margin-top: $spacer;
    margin-left: $spacer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.links {
    display: flex;
    margin: auto 64px auto auto;

    a {
        @extend %link;
        color: $grey;
        padding: 22px 36px;
        white-space: nowrap;

        i {
            padding-right: 4px;
        }
    }
}
