<div id="wrapper">
  <img class="logo" :class="{ moving: loading }" src="../../images/logo-neanderthal.png" alt="Logo">

  <h1 class="app-title" :title="description">
    {{ title }}
  </h1>

  <div class="links">
    <a @click="startIntro" role="button" title="Start a quick presentation of the page">
      <i class="el-icon-info"></i>
      Start here
    </a>
    <a href="https://github.com/GHFC/neanderthal-synapse/wiki" target="_blank" title="Go to the documentation">
      <i class="el-icon-question"></i>
      Documentation
    </a>
    <a :href="'mailto:' + contact" title="Send an email to the administrator">
      <i class="el-icon-message"></i>
      Contact
    </a>
  </div>
</div>
