@import "theme";

%link {
    color: $secondary-dark;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        color: $secondary-light;
    }
}

%link.disabled {
    color: $grey-dark;
    cursor: not-allowed;
    text-decoration: none;
}
