<div class="wrapper">
  <el-card id="human-hemisphere-card" shadow="never">
    <div slot="header" class="header-card">
      <div class="header-card-title">Human left hemisphere</div>
      <div class="header-card-doc">
        <a type="text" class="header-card-doc-link" target="_blank" href="https://github.com/GHFC/neanderthal-synapse/wiki/Data-panels#human-left-hemisphere" title="Go to the documentation for this panel">
          <i class="el-icon-question"></i>
          Documentation
        </a>
      </div>
    </div>
    <div class="content">
      <div id="human-hemisphere-legend">
        <p>
          Displays the median of the expression levels or specificity in the brain for the selected gene(s).
        </p>
        <p>
          Click on the brain to highlight a particular region or select it in the menu below.
          Double click outside the brain to reset the view.
        </p>
        <div class="currentlyDisplayed">
          <p>
            Currently displayed:
            <strong class="medianAllGenes" v-if="!brainGene.gene">median of all genes.</strong>
            <strong class="onlyOneGene" v-if="brainGene.gene">only {{ brainGene.gene.Gene }}.</strong>
          </p>
          <el-button @click="resetBrainGene" v-if="brainGene.gene">Reset</el-button>
        </div>
        <div>
          <el-radio-group v-model="selectedDataType" @change="selectDataType">
            <el-radio-button label="specificity">Specificity</el-radio-button>
            <el-radio-button label="expression">Expression</el-radio-button>
          </el-radio-group>
        </div>
        <div>
          <el-select v-model="selectedRegion" clearable placeholder="Select a region">
            <el-option
              v-for="(region, key) in regionsList"
              :label="region"
              :value="key"
              :key="key">
            </el-option>
          </el-select>
        </div>
        <div>
          <div id="expression-scale" v-if="selectedDataType === 'expression'">
            <div class="scale"></div>
            <div class="labels">
              <span class="first">Low expression</span>
              <span class="middle">Average expression</span>
              <span class="last">High expression</span>
            </div>
          </div>
          <div id="specificity-scale" v-if="selectedDataType === 'specificity'">
            <div class="scale"></div>
            <div class="labels">
              <span class="first">Reverse specificity</span>
              <span class="middle">No specificity</span>
              <span class="last">High specificity</span>
            </div>
          </div>
        </div>
      </div>
      <div
        id="human-hemisphere"
        @mousedown="mousedown"
        @mouseup="mouseup"
        @dblclick="doubleclick">
      </div>
    </div>
  </el-card>
</div>
