<div class="wrapper">
  <el-card class="dnds-card" shadow="never">
    <div slot="header" class="header-card">
      <div class="header-card-title">dNdS by taxon</div>
      <div class="header-card-doc">
        <a type="text" class="header-card-doc-link" target="_blank" href="https://github.com/GHFC/genevo/wiki/Data-panels#dnds-by-taxon" title="Go to the documentation for this panel">
          <i class="el-icon-question"></i>
          Documentation
        </a>
      </div>
    </div>
    <div id="dnds-chart"></div>
  </el-card>
</div>
